<h2>Search Golfers</h2>
<form action="/golfers" method="GET">
    <label>Name </label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% golfers.forEach(golfer => { %>
    <div class="playerCard">
      <div><%= golfer.name %></div>
      <div><%= golfer.email %></div>
      <div><%= golfer.phoneNumber %></div>
      <div><a href="/golfers/<%= golfer.id %>">View</a></div>
    </div>
  <% }) %>